<% if (Setting["plugin_redmine_meeting_room_calendar"]["tracker_id"]).to_i == @issue.tracker_id %>
  <%= stylesheet_link_tag("meeting_room_calendar_to_ical.css", :plugin => 'redmine_meeting_room_calendar') %>
  <%= javascript_tag do -%>
    if ($('#content > .contextual .redmine-add-to-calendar-button').length == 0) {
      $('#content > .contextual').prepend(
        '<%= link_to l(:button_meeting_room_calendar_to_ical), {:controller => 'meeting_room_calendar_to_ical', :action => 'issue', :issue_id => @issue }, :class => 'icon icon-close redmine-meeting-room-calendar-to-ical-button' %>'
      )
    }
  <% end -%>
  <% custom_field_id_invited = Setting["plugin_redmine_meeting_room_calendar"]["custom_field_id_invited"] %>
  <% if custom_field_id_invited.present? && custom_field_id_invited.to_i != 0 %>
    <% invited_field = @issue.custom_field_values.select { |cf| cf.custom_field_id == custom_field_id_invited.to_i }.first.value  %>
    <% if invited_field && invited_field[0].present? %>
      <%= javascript_tag do -%>
        $(".redmine-meeting-room-calendar-to-ical-button").click(function() {
		  href = $(this).attr('href');
		  if(href) {
            href += (href.match(/\?/) ? '&' : '?') + 'include_invited=';
          }
          $( "#include-invited-yes-no" ).dialog({
            resizable: false,
            modal: true,
            buttons: {
              "Yes": function() {
                $( this ).dialog( "close" );
				window.location.href = href+'1';
              },
              "No": function() {
                $( this ).dialog( "close" );
				window.location.href = href+'0';
              }
            }
          });
		  return false;
        });
      <% end -%>
	  <div id="include-invited-yes-no" title="Include Invited?">
        <p>Would you like to include invtees so you can send this event to them?</p>
      </div>
    <% end -%>
  <% end -%>
<% end %>
